/* Write your CSS here */
.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: #2d3a3f;
  font-family: 'Roboto';
}
.para {
  color: #2d3a3f;
  font-family: 'Roboto';
}
.span-class {
  color: #c20a72;
  font-family: 'Roboto';
}
.blue-button {
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
